@media screen and (max-width: 768px){
    
   
    }
    .divider{
        display: none;
    }
    
    .divider1{
        display: block;
        position: absolute;
        bottom: -1px;
        height: 50%;
        width: 100%;
    }
    
    
 nav ul a {
        
        margin-right: 20px;
        font-size: 12px;
    
    }

.nav{
    
    align-items: center;
}
    
    
    
    .hero, .hero2{
        
        width: auto;
    }
    
    .hero-img{
        width: 80%;
    }
    
    h1{
        font-size: 1.8rem;
    }
    
    .blurbs{
        grid-template-columns: auto;
        
    }
    
    .blurb{
        
        width: auto;
    }
    
    .productive{
        
        grid-template-columns: auto;
    }
    
    .productive-text{
        width: auto;
    }
    
    .productive div{
        
        padding: 0;
    }
    
    .testimonials{
        
        grid-template-columns: auto;
    }
    
    .profile{
        bottom: 40px;
    }
    
    .footer-card{
        width: 90%;
    }
    
    .footer-card input{
        width: 100%;
    }
    
    .footer-card .blue-button{
        
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
    }
    
    .footer{ 
    grid-template-columns: auto;
    }
    
    .fab-icons{
        text-align: center;
        position: relative;
        top: 80px;
    }
}

